again  this now i want now the next code from you  i want the next code i want the full student   Form\StudentType.php
please gave me the full needed codes i  i dont want you to change i just want now new working codes
for every thing in long code  and i will split it
 not only that i want if i want to delet to use flsh  befor i delet i want to see what  i want to delet
and after that i want 3 btns to one call it toonstudent and the 2 editstudet and delet
in the klassen overzicht i want you to make the toon student make sure i am getting the if i click on the  toon student to see the student in this groep  
so make it for me also after you finsh  

and i dont have this one by the way 
Could not load type "App\Form\StudentType": class does not exist.
Symfony\Component\Form\Exception\
InvalidArgumentException
in C:\Users\SD Student\Documents\GitHub\sd23-p07-symfony-eindtoets-2h-Akoudimati\vendor\symfony\form\FormRegistry.php (line 72)
            }            if (!$type) {                // Support fully-qualified class names                if (!class_exists($name)) {                    throw new InvalidArgumentException(sprintf('Could not load type "%s": class does not exist.', $name));                }
namespace App\Controller;

use App\Entity\SchoolGroup;
use Doctrine\ORM\EntityManagerInterface;
use Symfony\Bundle\FrameworkBundle\Controller\AbstractController;
use Symfony\Component\HttpFoundation\Response;
use Symfony\Component\Routing\Annotation\Route;

class SchoolGroupController extends AbstractController
{
    #[Route('/', name: 'app_school_group')]
    public function index(): Response
    {
        return $this->render('school_group/index.html.twig');
    }

    #[Route('/school_group', name: 'app_school_group_show')]
    public function show(EntityManagerInterface $entityManager): Response
    {
        $schoolGroups = $entityManager->getRepository(SchoolGroup::class)->findAll();

        return $this->render('school_group/show.html.twig', [
            'school_groups' => $schoolGroups
        ]);
    }


    #[Route('/school_group/{id}', name: 'app_school_group_show_id')]
    public function showGroupId(EntityManagerInterface $entityManager, int $id): Response
    {
        $schoolGroups = $entityManager->getRepository(SchoolGroup::class)->find($id);

        return $this->render('school_group/show.html.twig', [
            'school_groups' => $schoolGroups
        ]);
    }

}
{% extends 'base.html.twig' %}

{% block body %}
<h1 class="masthead-heading text-uppercase mb-0">
Klassen overzicht
</h1>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Naam</th>
        <th>Jaar</th>
        <th>SLB'er</th>
        <th>Acties</th>
    </tr>
    </thead>
    <tbody>
        {% for group in school_groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.year }}</td>
                <td>{{ group.teacher }}</td>
                <td><a class="btn btn-outline-secondary" href="{{ path('app_school_group_show_id', {'id': group.id }) }}" role="button">Toon Student</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}
